.spinner {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.d-none{
  display: none;
}

.p-0{
  padding:0;
}

.m-0{
  margin: 0;
}